amcl:
  ros__parameters:
    alpha1: 0.2   #Expected process noise in odometry’s rotation estimate from rotation.
    alpha2: 0.2   #Expected process noise in odometry’s rotation estimate from translation.
    alpha3: 0.2   #Expected process noise in odometry’s translation estimate from translation.
    alpha4: 0.2   #Expected process noise in odometry’s translation estimate from rotation.
    alpha5: 0.2   #For Omni models only: translation noise.
    base_frame_id: "base_footprint"   #robot's base frame
    beam_skip_distance: 0.5           #Maximum distance to consider skipping for (m).
    beam_skip_error_threshold: 0.9    #Percentage of beams after not matching map to force full update due to bad convergence.
    beam_skip_threshold: 0.3          #Percentage of beams required to skip.
    do_beamskip: false                #Whether to do beam skipping in Likelihood field model.
    global_frame_id: "map"            #The name of the coordinate frame published by the localization system.
    lambda_short: 0.1                 #Exponential decay parameter for z_short part of model.
    laser_likelihood_max_dist: 2.0    #Maximum distance to do obstacle inflation on map, for use in likelihood_field model.
    laser_max_range: 100.0            #Maximum scan range to be considered
    laser_min_range: -1.0             #Minimum scan range to be considered,
    laser_model_type: "likelihood_field"  #Which model to use, either beam, likelihood_field, or likelihood_field_prob. 
    #set_initia_pose:
    #initial_pose:
    max_beams: 60                    #How many evenly-spaced beams in each scan to be used when updating the filter.
    max_particles: 2000              #Maximum allowed number of particles.
    min_particles: 500               #Minimum allowed number of particles.
    odom_frame_id: "odom"            #Which frame to use for odometry
    pf_err: 0.05                     #Particle Filter population error.
    pf_z: 0.99                       #Particle filter population density. 2.33 is the 99% percentile.
    recovery_alpha_fast: 0.0         #Exponential decay rate for the fast average weight filter, used in deciding when to recover by adding random poses. A good value might be 0.1.
    recovery_alpha_slow: 0.0         #Exponential decay rate for the slow average weight filter, used in deciding when to recover by adding random poses. A good value might be 0.001.
    resample_interval: 1             #Number of filter updates required before resampling

    #Description: This is for which robot_model_type has to be choosen for the robot
    #The fully-qualified type of the plugin class. 
    #Options are “nav2_amcl::DifferentialMotionModel” and “nav2_amcl::OmniMotionModel”. 
    #Users can also provide their own custom motion model plugin type.
    robot_model_type: "nav2_amcl::DifferentialMotionModel"
    save_pose_rate: 0.5
    #Description: This is about SAVE_POSE_RATE
    #Maximum rate (Hz) at which to store the last estimated pose and covariance to the parameter server, in the variables ~initial_pose_* and ~initial_cov_*. 
    #This saved pose will be used on subsequent runs to initialize the filter (-1.0 to disable).
    sigma_hit: 0.2                   #Standard deviation for Gaussian model used in z_hit part of the model.
    tf_broadcast: true
    transform_tolerance: 2.0         #Time with which to post-date the transform that is published, to indicate that this transform is valid into the future.
    #introsecption_mode: disabled
    update_min_a: 0.2                #Rotational movement required before performing a filter update.
    update_min_d: 0.25               #Translational movement required before performing a filter update.
    z_hit: 0.5                       #Mixture weight for z_hit part of model, sum of all used z weight must be 1. Beam uses all 4, likelihood model uses z_hit and z_rand..
    z_max: 0.05                      #Mixture weight for z_max part of model, sum of all used z weight must be 1. Beam uses all 4, likelihood model uses z_hit and z_rand.
    z_rand: 0.5                      #Mixture weight for z_rand part of model, sum of all used z weight must be 1. Beam uses all 4, likelihood model uses z_hit and z_rand..
    z_short: 0.05                    #Mixture weight for z_short part of model, sum of all used z weight must be 1. Beam uses all 4, likelihood model uses z_hit and z_rand.
    scan_topic: /lidar_points        #Laser scan topic to subscribe to.
    #map_topic: map
    #first_map_only: False
    #bond_heartbeat_period: 0.1
    #allow_parameter_qos_overrides: true
   
    
bt_navigator:
  ros__parameters:
    global_frame: map
    robot_base_frame: base_footprint
    odom_topic: /odom
    bt_loop_duration: 10                                            #Duration (in milliseconds) for each iteration of BT execution.
    #filter_duration: 0.3
    default_server_timeout: 20
    wait_for_service_timeout: 1000
    #transform_tolerance: 0.1                                       TF transform tolerance
    action_server_result_timeout: 900.0
    navigators: ['navigate_to_pose', 'navigate_through_poses']
    navigate_to_pose:
      plugin: "nav2_bt_navigator::NavigateToPoseNavigator"
    navigate_through_poses:
      plugin: "nav2_bt_navigator::NavigateThroughPosesNavigator"
    error_code_name_prefixes:
      - compute_path_error_code
      - follow_path_error_code
    

docking_server:
  ros__parameters:
    controller_frequency: 50.0
    initial_perception_timeout: 5.0
    wait_charge_timeout: 5.0
    dock_approach_timeout: 30.0
    undock_linear_tolerance: 0.05
    undock_angular_tolerance: 0.1
    max_retries: 3
    base_frame: "base_footprint"
    fixed_frame: "odom"
    dock_backwards: false
    dock_prestaging_tolerance: 0.5

    # Types of docks
    dock_plugins: ['simple_charging_dock']
    simple_charging_dock:
      plugin: 'opennav_docking::SimpleChargingDock'
      docking_threshold: 0.05
      staging_x_offset: -0.7
      use_external_detection_pose: true
      use_battery_status: false # true
      use_stall_detection: false # true

      external_detection_timeout: 1.0
      external_detection_translation_x: -0.18
      external_detection_translation_y: 0.0
      external_detection_rotation_roll: -1.57
      external_detection_rotation_pitch: -1.57
      external_detection_rotation_yaw: 0.0
      filter_coef: 0.1

    # Dock instances
    # The following example illustrates configuring dock instances.
    # docks: ['home_dock']  # Input your docks here
    # home_dock:
    #   type: 'simple_charging_dock'
    #   frame: map
    #   pose: [0.0, 0.0, 0.0]

    controller:
      k_phi: 3.0
      k_delta: 2.0
      v_linear_min: 0.15
      v_linear_max: 0.15


#Planners and controllers are heart of a navigation task
controller_server:
  ros__parameters:
    controller_frequency: 20.0
    use_stamped_vel: true
    cmd_vel_topic: cmd_vel_nav
    costmap_update_timeout: 0.30
    min_x_velocity_threshold: 0.001
    min_y_velocity_threshold: 0.5
    min_theta_velocity_threshold: 0.001
    failure_tolerance: 0.3
    progress_checker_plugins: ["progress_checker"]
    goal_checker_plugins: ["goal_checker"]
    controller_plugins: ["FollowPath"]
    costmap_update_timeout: 0.30

    progress_checker:
      plugin: "nav2_controller::SimpleProgressChecker"
      required_movement_radius: 0.5
      movement_time_allowance: 10.0

    goal_checker:
      stateful: true
      plugin: "nav2_controller::SimpleGoalChecker"
      xy_goal_tolerance: 0.25
      yaw_goal_tolerance: 0.25
    #MPPI Controller: Differential, Omnidirectional, Ackermann, Legged
    #Task: Dynamic obstacle avoidance
    FollowPath:
      plugin: "nav2_mppi_controller::MPPIController"
      time_steps: 56
      model_dt: 0.05
      batch_size: 2000
      ax_max: 3.0
      ax_min: -3.0
      ay_max: 3.0
      az_max: 3.5
      vx_std: 0.2
      vy_std: 0.0
      wz_std: 0.4
      vx_max: 0.5
      vx_min: -0.35
      vy_max: 0.0
      wz_max: 1.9
      iteration_count: 1
      prune_distance: 1.7
      transform_tolerance: 0.1
      temperature: 0.3
      gamma: 0.015
      motion_model: "DiffDrive"
      visualize: true
      regenerate_noises: true
      TrajectoryVisualizer:
        trajectory_step: 5
        time_step: 3
      AckermannConstraints:
        min_turning_r: 0.2
      critics: [
        "ConstraintCritic", "CostCritic", "GoalCritic",
        "GoalAngleCritic", "PathAlignCritic", "PathFollowCritic",
        "PathAngleCritic", "PreferForwardCritic"]
      ConstraintCritic:
        enabled: true
        cost_power: 1
        cost_weight: 4.0
      GoalCritic:
        enabled: true
        cost_power: 1
        cost_weight: 5.0
        threshold_to_consider: 1.4
      GoalAngleCritic:
        enabled: true
        cost_power: 1
        cost_weight: 3.0
        threshold_to_consider: 0.5
      PreferForwardCritic:
        enabled: true
        cost_power: 1
        cost_weight: 5.0
        threshold_to_consider: 0.5
      CostCritic:
        enabled: true
        cost_power: 1
        cost_weight: 3.81
        critical_cost: 300.0
        consider_footprint: false
        collision_cost: 1000000.0
        near_goal_distance: 1.0
        trajectory_point_step: 2
      PathAlignCritic:
        enabled: true
        cost_power: 1
        cost_weight: 14.0
        max_path_occupancy_ratio: 0.05
        trajectory_point_step: 4
        threshold_to_consider: 0.5
        offset_from_furthest: 20
        use_path_orientations: false
      PathFollowCritic:
        enabled: true
        cost_power: 1
        cost_weight: 5.0
        offset_from_furthest: 5
        threshold_to_consider: 1.4
      PathAngleCritic:
        enabled: true
        cost_power: 1
        cost_weight: 2.0
        offset_from_furthest: 4
        threshold_to_consider: 0.5
        max_angle_to_furthest: 1.0
        mode: 0

local_costmap:
  local_costmap:
    ros__parameters:
      update_frequency: 5.0
      publish_frequency: 2.0
      global_frame: odom
      robot_base_frame: base_footprint
      rolling_window: true
      width: 3
      height: 3
      resolution: 0.05
      robot_radius: 0.28
      #robot_radius: 0.3m
      #footprint: "[ [0.3, 0.2], [0.3, -0.2], [-0.3, -0.2], [-0.3, 0.2] ]"
      plugins: ["static_layer","obstacle_layer", "inflation_layer"]
      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 0.5
        cost_scaling_factor: 5.0
      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        enabled: true
        observation_sources: scan
        scan:
          topic: /lidar_points
          max_obstacle_height: 2.0
          clearing: true
          marking: true
          data_type: "LaserScan"
      static_layer:
        plugin: "nav2_costmap_2d::StaticLayer"
        map_subscribe_transient_local: true
      always_send_full_costmap: true

global_costmap:
  global_costmap:
    ros__parameters:
      update_frequency: 1.0
      publish_frequency: 1.0
      global_frame: map
      robot_base_frame: base_footprint
      transform_tolerance: 0.5
      robot_radius: 0.28
      resolution: 0.05
      track_unknown_space: true
      plugins: ["static_layer", "obstacle_layer", "inflation_layer"]
      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        enabled: true
        observation_sources: scan
        scan:
          topic: /lidar_points
          max_obstacle_height: 2.0
          clearing: true
          marking: true
          data_type: "LaserScan"
          raytrace_max_range: 3.0
          raytrace_min_range: 0.0
          obstacle_max_range: 2.5
          obstacle_min_range: 0.0
      static_layer:
        plugin: "nav2_costmap_2d::StaticLayer"
        map_subscribe_transient_local: true
      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 0.7
        cost_scaling_factor: 3.0
      always_send_full_costmap: true

map_server:
  ros__parameters:
    use_sim_time: true
    yaml_filename: "/home/rakesh/map.yaml"
    #topic_name: "map"
    #frame_id: "map"

map_saver:
  ros__parameters:
    save_map_timeout: 5.0
    free_thresh_default: 0.25
    occupied_thresh_default: 0.65
    map_subscribe_transient_local: true

#Planners and controllers are heart of a navigation task
planner_server:
  ros__parameters:
    expected_planner_frequency: 20.0
    planner_plugins: ["GridBased"]
    costmap_update_timeout: 1.0
    GridBased:
      plugin: "nav2_navfn_planner::NavfnPlanner"
      downsample_costmap: true
      tolerance: 0.5
      use_astar: false
      allow_unknown: true
     #These are Planner plugins which are supported by Different Robot Types accordingly
     #NavFn Planner, Smac Planner 2D, Theta Star Planner ----> Circular Differential, Circular Omnidirectional
     #Smac Hybrid-A* Planner                             ----> Non-circular or Circular Ackermann, Non-circular or Circular Legged
     #Smac Lattice Planner                               ----> Non-circular Differential, Non-circular Omnidirectional, Arbitrary

behavior_server:
  ros__parameters:
    local_costmap_topic: local_costmap/costmap_raw
    local_footprint_topic: local_costmap/published_footprint
    global_costmap_topic: global_costmap/costmap_raw
    global_footprint_topic: global_costmap/published_footprint
    cycle_frequency: 10.0
    behavior_plugins: ["spin", "backup", "drive_on_heading", "wait", "assisted_teleop"]
    spin:
      plugin: "nav2_behaviors::Spin" # In Iron and older versions, "/" was used instead of "::"
    backup:
      plugin: "nav2_behaviors::BackUp" # In Iron and older versions, "/" was used instead of "::"
    drive_on_heading:
      plugin: "nav2_behaviors::DriveOnHeading" # In Iron and older versions, "/" was used instead of "::"
    wait:
      plugin: "nav2_behaviors::Wait" # In Iron and older versions, "/" was used instead of "::"
    assisted_teleop:
      plugin: "nav2_behaviors::AssistedTeleop" # In Iron and older versions, "/" was used instead of "::"
    local_frame: odom
    global_frame: map
    robot_base_frame: base_footprint
    transform_timeout: 0.1
    simulate_ahead_time: 2.0
    max_rotational_vel: 1.0
    min_rotational_vel: 0.4
    rotational_acc_lim: 3.2

collision_monitor:
  ros__parameters:
    base_frame_id: "base_footprint"
    odom_frame_id: "odom"
    cmd_vel_in_topic: "cmd_vel_smoothed"
    cmd_vel_out_topic: "cmd_vel"
    state_topic: "collision_monitor_state"
    transform_tolerance: 0.2
    source_timeout: 1.0
    base_shift_correction: true
    stop_pub_timeout: 2.0
    polygons: ["FootprintApproach"]
    FootprintApproach:
      type: "polygon"
      action_type: "approach"
      footprint_topic: "/local_costmap/published_footprint"
      time_before_collision: 1.2
      simulation_time_step: 0.1
      min_points: 6
      visualize: False
      enabled: true
    observation_sources: ["scan"]
    scan:
      source_timeout: 0.2
      type: "scan"
      topic: "/lidar_points"
      min_height: 0.15
      max_height: 2.0
      enabled: true
      
#Smoothers can be used for additional quality improvements of the planned path.
velocity_smoother:
  ros__parameters:
    smoothing_frequency: 20.0
    use_stamped_vel: true
    input_cmd_vel: cmd_vel_nav
    #output_cmd_vel: cmd_vel  #original
    output_cmd_vel: cmd_vel_smoothed
    odom_topic: odom
    scale_velocities: false
    feedback: "OPEN_LOOP"
    max_velocity: [0.5, 0.0, 2.5]
    min_velocity: [-0.5, 0.0, -2.5]
    deadband_velocity: [0.0, 0.0, 0.0]
    velocity_timeout: 1.0
    max_accel: [2.5, 0.0, 3.2]
    max_decel: [-2.5, 0.0, -3.2]
    odom_topic: "odom"
    odom_duration: 0.1
    use_realtime_priority: false
    #enable_stamped_cmd_vel: false   Whether to use geometry_msgs::msg::Twist or geometry_msgs::msg::TwistStamped velocity data. 
    #True uses TwistStamped, false uses Twist. 
    #This parameter is default false in Jazzy or older! 

#Smoothers can be used for additional quality improvements of the planned path.
smoother_server:
  ros__parameters:
    smoother_plugins: ["simple_smoother"]
    simple_smoother:
      plugin: "nav2_smoother::SimpleSmoother"
      tolerance: 1.0e-10
      max_its: 1000
      do_refinement: True

